/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* About Section Layout */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.about-image img {
  display: flex;
  height: auto;
  border-radius: 50%;
  border: 2px solid #003049;
}

.about-text {
  display: flexbox;
  flex-direction: column;
  text-align: left;
}



/* Containers */
.portfolio-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.portfolio-section section {
  flex: 1;
  padding: 5px;
  text-align: center;
}

.portfolio-section img {
  height: auto;
}


.portfolio-section p {
  font-size: 14px;
  color: #333;
}


div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}